.header {
  background-color: var(--main-background);
  border: 1px solid var(--border-color);
  border-bottom: unset;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  height: 56.2px;
  align-items: center;
}

.name {
  padding-left: 23px;
  width: 311px;
}

.nav {
  display: flex;
  height: 100%;
  flex-grow: 1;
}

.link {
  border-left: 1px solid var(--border-color);
  padding: 0 32px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--orange);
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.link span {
  transition: opacity 0.3s ease-in;
}

.link.active {
  cursor: unset;
}

.link.active::before {
  opacity: 1;
}

.link.active span {
  color: #fff;
  opacity: 1 !important;
}

.link:hover span {
  opacity: 0.5;
}

.link:nth-child(3) {
  border-right: 1px solid var(--border-color);
}

.link:last-child {
  margin-left: auto;
  padding: 0 23px;
}
