:root {
  --body-background: #010c15;
  --border-color: #1e2d3d;
  --main-background: #011627;
  --primary-color: #607b96;
  --orange: #fea55f;
  --green: #43d9ad;
  --red: #e99287;
  --bright-gray: #e5e9f0;
  --shade-of-blue: #4d5bce;
  --medium-green: #114944;
  --default-button-bg: #1c2b3a;
  --primary-button-color: #01080e;
  --max-width: 1782px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--body-background);
  padding: 69px;
  color: var(--primary-color);
  height: 100vh;
}

button {
  border: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.body-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  background-color: var(--main-background);
  border: 1px solid var(--border-color);
  flex-grow: 1;
}
